<div id="error" class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <img src="./Immagini/GeoSafe.JPG" alt="GeoSafe Icon" class="img-responsive" />
        </div>
    </div>
    <h1 class="h1 col-xs-12 text-center">Oops!</h1>
    <h2 class="h2 col-xs-12 text-center">Looks like something went wrong!</h2>
    {{#if ritenta }}
        <h2 class="h2 col-xs-12 text-center">Please try again or contact administrator!</h2>
        <input type="button" class="btn col-xs-offset-8 " id="backHome"  value="OK" />
    {{/if}}
</div>
  